div.nav_gl {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	width:90%;
	max-width:1400px;
	margin-right:auto;
	margin-left:auto
	-ms-flex-align:center;
	align-items:center
}
div.nav_logo-div {
	display:inline
}
img.nav_logo {
	width:200px;
	height:auto;
	-ms-flex:1 1 0px;
	flex:1 1 0;
	-ms-flex-item-align:start;
	align-self:flex-start
}
body {
	font-family: 'Roboto', sans-serif;
	margin-left: 15rem;
	margin-right: 15rem
}
li.nav_list-item {
	display:inline-block;
	padding:0 40px;
	letter-spacing:.5px;
	font-size:1rem;
	transition:color .25s ease
}
li.nav_list-item:hover {
	color:#2fe0c5
}

p.about {
	padding 0 40px;
	letter-spacing:.5px;
	font-size: 1.5rem
}

h3.about {
	font-size: 2rem
}