body {
	font-family: 'Roboto', sans-serif;
	margin-left: 15rem;
	margin-right: 15rem
}
li.nav_list-item {
	display:inline-block;
	padding:0 40px;
	letter-spacing:.5px;
	font-size:1rem;
	transition:color .25s ease
}
li.nav_list-item:hover {
	color:#2fe0c5
}

p.about {
	padding 0 40px;
	letter-spacing:.5px;
	font-size: 1.5rem
}

h3.about {
	font-size: 2rem
}